<!DOCTYPE html>
<html ng-app="DebtHackApp" ng-controller="DebtHackCtrl">
  <head>
    <base href="/">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height, minimal-ui">
    <meta name="fragment" content="!">
    <title>DebtHack</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="DebtHack Frontend.">
    <meta itemprop="name" content="DebtHack">
    <meta itemprop="description" content="DebtHack Frontend.">
  </head>
  <body layout="column" ng-cloak ng-controller="DebtHackCtrl" style="overflow:hidden">
    <div layout="column" flex>
      <md-toolbar layout="row">
        <md-button style="line-height:unset;" ng-show="isLoggedIn &amp;&amp; !firstLogin" aria-label="Pay Off Date" class="md-fab md-fab-top-left left">
          <div layout="column" layout-align="center center"><span class="md-caption">{{ payOffDate.month }}</span><span class="md-caption">{{ payOffDate.year }}</span></div>
        </md-button>
        <div layout="row" layout-align="space-between center" layout-fill class="md-toolbar-tools"><span style="width:88px">&nbsp;</span><span>
            <h4>#DebtHack</h4></span>
          <md-button ng-click="toggleRight()" aria-label="Toggle Menu" ng-disabled="!isLoggedIn || firstLogin"><i class="fa fa-3x fa-bars"></i></md-button>
        </div>
      </md-toolbar>
      <md-content layout="row" flex>
        <div ng-view layout="row" flex></div>
        <md-sidenav md-component-id="right" layout="row" style="overflow:hidden;" class="md-sidenav-right md-whiteframe-z2">
          <md-content layout="column" layout-align="start stretch" class="md-padding">
            <md-list>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-click="goToHome(); toggleRight();" aria-label="Home">Home</md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-click="goToIncome(); toggleRight();" aria-label="Manage Income Sources">Manage Income Sources</md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-click="goToDebts(); toggleRight();" aria-label="Manage Debts">Manage Debts</md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-click="goToBills(); toggleRight();" aria-label="Manage Bills">Manage Bills</md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-click="goToAlternatives(); toggleRight();" aria-label="Spending Alternatives">Spending Alternatives</md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-click="goToBudget(); toggleRight();" aria-label="Modify Budget">Modify Budget</md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-disabled aria-label="Modify Budget">Add Bank</md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <p>
                  <md-button style="min-width:unset" ng-click="doLogout(); toggleRight();" aria-label="Logout">Logout</md-button>
                </p>
              </md-list-item>
            </md-list>
          </md-content>
        </md-sidenav>
      </md-content>
    </div>
    <script src="/bower_components/angular/angular.js" defer></script>
    <script src="/bower_components/underscore/underscore-min.js" defer></script>
    <script src="/bower_components/angular-underscore/angular-underscore.min.js" defer></script>
    <script src="/bower_components/angular-route/angular-route.min.js" defer></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js" defer></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js" defer></script>
    <script src="/bower_components/moment/min/moment.min.js" defer></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js" defer></script>
    <script src="/bower_components/angular-material/angular-material.min.js" defer></script>
    <script src="/app/app.routes.js" defer></script>
    <script src="/app/app.factory.js" defer></script>
    <script src="/app/app.controllers.js" defer></script>
    <script src="/app/app.js" defer></script>
  </body>
</html>