div(ng-controller='homeCtrl', layout='column', flex, ng-init='checkLoggedIn(); notificationFilter.flagged = "0";')
    md-content(layout-padding)
        .avatar-container(ng-class='"p-" + budgetRemaining.percent_used')
            img.avatar(src='img/white-128.jpg')
            .info.js-active: .info-inner {{budgetRemaining.percent_used | percentage:0}}
        div(layout='row', layout-align='space-between center')
            span.md-header Weekly Budget
            span(ng-bind='budgetRemaining.weekly_budget | currency')
        div(layout='row', layout-align='space-between center')
            span.md-header Budget Remaining
            span(ng-bind='budgetRemaining.weekly_budget * ((100 - budgetRemaining.percent_used)/100) | currency')
        div(layout='row', layout-align='space-between center')
            span.md-header Days Remaining
            span(ng-bind='budgetDaysRemaining')
        md-card(ng-show='newAlternatives > 0')
            md-card-content(layout='row', layout-align='space-between center')
                span.md-header New Alternatives
                span(ng-bind='newAlternatives')
            md-card-actions(layout='row', layout-align='end center')
                md-button(ng-click='goToAlternatives()') Show
        md-card(ng-repeat='notification in notifications | filter:notificationFilter')
            md-card-content(layout='column', layout-align='center stretch')
                span.md-header(ng-bind='notification.title')
                span.md-caption(ng-bind='notification.description')
            md-card-actions(layout='row', layout-align='end center')
                md-button(ng-click='dismissNotification(notification.id)') Dismiss