
<div ng-controller="billCtrl" layout="column" flex="flex" ng-init="checkLoggedIn()">
  <md-content layout-padding="layout-padding">
    <div layout="column" layout-align="center stretch" ng-show="firstLogin">
      <md-button ng-click="goToIncome()" ng-show="firstLogin" class="selectAlternative">Next</md-button>
    </div>
    <div layout="column" layout-align="center center"><span class="md-header">Bills</span></div>
    <md-card>
      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" ng-model="newBill.name"/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Amount</label>
        <input type="number" ng-model="newBill.amount"/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Frequency</label>
        <md-select ng-model="newBill.selectedFrequency">
          <md-option ng-value="frequency.id" ng-repeat="frequency in frequencies">{{ frequency.desc }}</md-option>
        </md-select>
      </md-input-container>
      <md-button ng-click="pushBill()">Add Bill</md-button>
    </md-card>
    <md-card ng-repeat="bill in bills | orderBy:'name'">
      <md-card-header>
        <md-card-header-text><span class="md-title">{{ bill.name }}</span></md-card-header-text>
        <md-card-avatar><i class="fa fa-envelope fa-3x"></i></md-card-avatar>
      </md-card-header>
      <md-card-content>
        <div layout="column">
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Amount</span><span>{{ bill.amount | currency }}</span></div>
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Frequency</span><span ng-bind="bill.frequency.desc"></span></div>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>