
<div ng-controller="loginCtrl" layout="column" flex="flex" layout-align="center center">
  <md-content layout-padding="layout-padding">
    <md-card>
      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" ng-model="userName"/>
      </md-input-container>
      <md-button ng-click="doLogin()">Login</md-button>
    </md-card>
  </md-content>
</div>